<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>bereshs HeadHunter WorkSearch interface</title>
    <meta name="description" content="Панель управления HeadHunter workSearch">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="css/style.css?113">
</head>
<body>
<div class="main">
    <div>
        <div class="header">
            <p class="headerLine">Авторизированный модуль</p>
        </div>
        <div>
        </div>
    </div>
    <div class="userView">
        <div class="userData">
            <div class="title">
                <p class="headerLine">Данные пользователя</p>
            </div>
            <div class="userTable">
                <table>
                    <tr class="trtwo">
                        <td>Id</td>
                        <td th:text="${hhUserDto.getId}">771222222</td>
                    </tr>
                    <tr>
                        <td>ФИО</td>
                        <td th:text="${hhUserDto.getFirstName +' '+ hhUserDto.getLastName}">Иванов Иван</td>
                    </tr>
                    <tr class="trtwo">
                        <td>Контакты</td>
                        <td th:text="${hhUserDto.getEmail +' '+ hhUserDto.getPhone}">79090000000 post@mail.ru</td>
                    </tr>
                    <tr>
                        <td>Срок действия токена</td>
                        <td th:text="${tokenLive}">18.11.2003</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="resume">
            <div class="title">
                <p class="headerLine">Резюме</p>
            </div>
            <div class="resumeTable">
                <table>
                    <tr th:each="resume: ${resumeList}" class="trtwo">
                        <td th:text="${resume.title}">Java разработчик</td>
                        <td> none</td>
                        <td th:text="${resume.updatedAt}">01.02.2003</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="resume">
            <div class="title">
                <p class="headerLine">Статистика работы</p>
            </div>
            <div class="title">
                <p class="headerLine"> Сегодня</p>
            </div>
            <div class="resumeTable">
                <div class="userTable">
                    <table>
                        <tr class="trtwo">
                            <td style="width: 40%">Всего записей</td>
                            <td th:text="${daily.total}">0</td>
                        </tr>
                        <tr>
                            <td style="width: 40%">Отправлено запросов</td>
                            <td th:text="${daily.requested}">0</td>
                        </tr>
                        <tr class="trtwo">
                            <td style="width: 40%">Приглашений</td>
                            <td th:text="${daily.invited}">0</td>
                        </tr>
                        <tr>
                            <td style="width: 40%">Отказов</td>
                            <td th:text="${daily.discarded}">0</td>
                        </tr>
                        <tr>
                            <td style="width: 40%">Зарплата</td>
                            <td th:text="${daily.salary}">0</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="title">
                <p class="headerLine"> За все время</p>
            </div>
            <div class="resumeTable">
                <div class="userTable">
                    <table>
                        <tr class="trtwo">
                            <td style="width: 40%">Всего записей</td>
                            <td th:text="${full.total}">0</td>
                        </tr>
                        <tr>
                            <td>Отправлено запросов</td>
                            <td th:text="${full.requested}">0</td>
                        </tr>
                        <tr class="trtwo">
                            <td style="width: 40%">Приглашений</td>
                            <td th:text="${full.invited}">0</td>
                        </tr>
                        <tr>
                            <td style="width: 40%">Отказов</td>
                            <td th:text="${full.discarded}">0</td>
                        </tr>
                        <tr>
                            <td style="width: 40%">Зарплата</td>
                            <td th:text="${full.salary}">0</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div th:replace="~{/include/footer}">...</div>
    </div>
</div>
</body>
</html>