<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>bereshs HeadHunter WorkSearch interface</title>
    <meta name="description" content="Панель управления HeadHunter workSearch">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="main">
    <h2>Авторизированный модуль</h2>
    <div class="userView">
        <div class="userData">
            <p>Данные пользователя</p>
            <div class="userTable">
            <table>
                <tr class="trtwo">
                    <td>Id</td>
                    <td th:text="${hhUserDto.getId}">771222222</td>
                </tr>
                <tr>
                    <td>ФИО</td>
                    <td th:text="${hhUserDto.getFirstName + getLastName}" >Иванов Иван</td>
                </tr>
                <tr class="trtwo">
                    <td>Контакты</td>
                    <td th:text="${hhUserDto.getEmail + hhUserDto.getPhone}" >79090000000 post@mail.ru</td>
                </tr>
                <tr>
                    <td>Срок действия токена</td>
                    <td>18.11.2003</td>
                </tr>
            </table>
            </div>
        </div>
        <div class="management">
            <p>Управление</p>
            <div class="managementTable">
                <table>
                    <tr class="trtwo">
                        <td>Авто обновление</td>
                        <td>Да</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="resume">
            <p>Резюме</p>
            <div class="resumeTable">
                <table>
                    <tr class="trtwo">
                        <td>Java разработчик</td>
                        <td>120 0000</td>
                        <td>01.02.2003</td>
                    </tr>
                </table>
            </div>
            <div class="vacancy">
                <p>Вакансии</p>
                <div class="vacancyTable">
                    <table>
                        <tr class="trtwo">
                            <td>Java разработчик</td>
                            <td>120 0000</td>
                            <td>01.02.2003</td>
                        </tr>
                        <tr class="trone">
                            <td>Java разработчик middle</td>
                            <td>220 0000</td>
                            <td>01.02.2003</td>
                        </tr>
                        <tr class="trtwo">
                            <td>Java разработчик junior</td>
                            <td>80 0000</td>
                            <td>01.02.2003</td>
                        </tr>
                    </table>
                </div>
            </div>

    </div>
</div>
</body>
</html>