<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>bereshs HeadHunter WorkSearch interface</title>
    <meta name="description" content="Панель управления HeadHunter workSearch">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
</head>
<body>
Authorezed module<br>
<hr>
Ваши данные:
<table border="1">
    <tr>
        <td>AccessToken</td>
        <td th:text="${responseToken.accessToken}"></td>
    </tr>
    <tr>
        <td>refreshToken</td>
        <td th:text="${responseToken.refreshToken}"></td>
    </tr>
    <tr>
        <td>Срок действия токена</td>
        <td th:text="${date}"></td>
    </tr>
</table>
<hr>
Для Вас доступны модули:<br>
<table border="1">
    <tr>
        <td>Enable auto update</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Auto start daemon</td>
        <td>Yes</td>
    </tr>
</table>

<hr>
Ваши резюме:<br>
<table>
    <tr th:each="resume:${resumeList}">
        <td th:text="${resume.title}"></td>
        <td ><a th:href="${resume.url}">Ссылка</a></td>
        <td th:text="${resume.createdAt}"></td>
    </tr>
</table>

<hr>
Рекомендуемые вакансии:
<table>
    <tr th:each="vacancy:${vacancyList}">
        <td th:text="${vacancy.title}"></td>
        <td ><a th:href="${vacancy.url}">Ссылка</a></td>
        <td th:text="${vacancy.createdAt}"></td>
    </tr>
</table>

</body>
</html>