<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header}">...</head>
<body>
<div class="main">
    <div>
        <div class="header">
            <p class="headerLine">Настройки фильтра</p>
        </div>
        <div>
        </div>
    </div>
    <div>
        <div class="title">
            <p class="headerLine">Искать ключевые слова</p>
        </div>
        <div>
            <div class="item-main">
                <div th:each="str: ${keyWords}">
                    <a th:href="@{'/editelement?name=filter&id='+${str.id}}" class="item-list"
                       th:text="${str.name}">one</a>
                </div>
            </div>
            <div class="item-main">
                <a th:href="@{'/editelement?name=filter&id=0&scope=KEY'}" class="item-list">...</a>
            </div>
        </div>
    </div>
    <div>
        <div class="title">
            <p class="headerLine">Исключить слова</p>
        </div>
        <div>
            <div class="item-main">
                <div th:each="str: ${experience}">
                    <a th:href="@{'/editelement?name=filter&id='+${str.id}}" class="item-list"
                       th:text="${str.name}">one</a>
                </div>
            </div>
            <div class="item-main">
                <a th:href="@{'/editelement?name=filter&id=0&scope=EXPERIENCE'}" class="item-list">...</a>
            </div>
        </div>
    </div>
    <div>
        <div class="title">
            <p class="headerLine"> Заголовок</p>
        </div>
        <div class="item-main">
            <div th:each="str: ${name}">
                <a th:href="@{'/editelement?name=filter&id='+${str.id}}" class="item-list" th:text="${str.name}">one</a>
            </div>
        </div>
        <div class="item-main">
            <a th:href="@{'/editelement?name=filter&id=0&scope=NAME'}" class="item-list">...</a>
        </div>
    </div>
    <div>
        <div class="title">
            <p class="headerLine"> Тело</p>
        </div>
        <div>
            <div class="item-main">
                <div th:each="str: ${description}">
                    <a th:href="@{'/editelement?name=filter&id='+${str.id}}" class="item-list"
                       th:text="${str.name}">one</a>
                </div>
            </div>
            <div class="item-main">
                <a th:href="@{'/editelement?name=filter&id=0&scope=DESCRIPTION'}" class="item-list">...</a>
            </div>
        </div>
    </div>
    <div>
        <div class="title">
            <p class="headerLine"> Работадатель</p>
        </div>
        <div>
            <div class="item-main">
                <div th:each="str: ${employer}">
                    <a th:href="@{'/editelement?name=filter&id='+${str.id}}" class="item-list"
                       th:text="${str.name}">one</a>
                </div>
            </div>
        </div>
        <div class="item-main">
            <a th:href="@{'/editelement?name=filter&id=0&scope=EMPLOYER'}" class="item-list">...</a>
        </div>
    </div>
    <div th:replace="~{/include/footer}">...</div>

</div>
</body>
</html>
