<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>bereshs HeadHunter WorkSearch interface</title>
    <meta name="description" content="Панель управления HeadHunter workSearch">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="css/style.css?113">
</head>
<body>
<div class="main">
    <div>
        <div class="header">
            <p class="headerLine">Hhworksearch module</p>
        </div>
        <div>
        </div>
    </div>
    <div>
        <div class="title">
            <p class="headerLine">Срок действия токена завершился</p>
        </div>
        <div>
            <div class="item-main">
                <div>
                    <p class="item-list" th:text="${tokenLive}">one</p>
                </div>
            </div>
        </div>
        <div>
            <div class="title">
                <p class="headerLine">Обновите токен на этой странице</p>
            </div>
            <div>
                <div class="item-main">
                    <div>
                        <a href="https://hh.ru" th:href="${connectionString}">page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>