<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header}">...</head>
<body>
<div class="main">
    <div>
        <div class="header">
            <p class="headerLine">Настройки отклика</p>
        </div>
        <div>
        </div>
    </div>
    <div>
        <div class="title">
            <div class="headerLine headerLineMany">
                <p class="headerLine">Пример отклика </p>
                <a th:href="@{'/negotiationsettings?id='+${num}}" th:each="num: ${negotiations}" th:text="${num}+' - '"></a>
            </div>

        </div>
        <div class="title">
            <div class="headerLine headerLineMany">
                <p class="headerLine">Вступление </p>
            </div>

        </div>
        <div>
            <div class="item-main">
                <a th:href="@{'/editelement?name=header&id='+${header.id}}" class="item-list" th:text="${header.description}">Это только пример</a>
            </div>
        </div>
        <div th:if="${header.description!='Нет данных'}" class="item-main">
            <a th:href="@{'/editelement?name=header&id=0'}" class="item-list">...</a>
        </div>
    </div>
    <div>
        <div class="title">
            <p class="headerLine">Навыки</p>
        </div>
        <div>
            <div class="item-main" th:each="skill: ${skills}">
                <a th:href="@{'/editelement?name=skill&id='+${skill.id}}"  class="item-list" th:text="${skill.description}">Это только пример</a>
            </div>
            <div class="item-main">
                <a th:href="@{'/editelement?name=skill&id=0'}" class="item-list">...</a>
            </div>
        </div>
    </div>
    <div>
        <div class="title">
                <p class="headerLine">Окончание </p>
        </div>
        <div>
            <div class="item-main">
                <a th:href="@{'/editelement?name=footer&id='+${footer.id}}" class="item-list" th:text="${footer.description}">Это только пример</a>
            </div>
            <div th:if="${footer.description!='Нет данных'}" class="item-main">
                <a th:href="@{'/editelement?name=footer&id=0'}" class="item-list">...</a>
            </div>
        </div>
    </div>

    <div th:replace="~{/include/footer}"></div>

</div>

</body>
</html>